.screener {
  font-family:Verdana, Geneva, Tahoma, sans-serif;  
}
.navBar {
  height: 60px;
}
.filter-section {
  padding-top: 80px;
  margin-left:20px;
  margin-right: 20px; 
}
.row {
  padding-top: 30px;
}
#price-filter, #marketcap-filter, #avgvol-filter, #epsgrowth-filter {
  width: 100% !important;
}
#dropdown-item {
  width: 100% !important;
}
.list {
  margin-left: 30px;
}
.link {
  margin-left: 20px;
}
.logo {
  height: 40px;
  margin-right: 10px;
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.content {
  padding-top:50px;
}

